*{
    margin: 0;
    padding: 0;
}
#slider{
    display: none;
    position: fixed;
    height: 100%;
    width:100%;
}

#visible-slides{
    position: relative;
    width: 90%;
    height: 90%;
    left: 50%;
    transform: translateX(-50%);
}
#hidden-slides{
    display: none;
}
#visible-slides .slide{
    position: absolute;
}
#visible-slides .slide img{
    position: absolute;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
}
#visible-slides .slide:nth-child(1), #visible-slides .slide:nth-child(3){
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;
    height: 70%;
}
#visible-slides .slide:nth-child(2){
    height: 100%;
    /*display: none;*/
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
#visible-slides .slide:nth-child(1){
    left: 0;
    z-index: 1;
}
#visible-slides .slide:nth-child(3){
    right: 0;
    z-index: 1;
}