*{
    margin: 0;
    padding: 0;
}
#slider{
    position: fixed;
    height: 100%;
    width:100%;
}
#slider .slides{
    position: absolute;
    top: 9.5%;
    width: 98%;
    height: 70%;
    left: 50%;
    transform: translateX(-50%);
}
#slider .slides .slide{
    position: absolute;
    background-size: cover;
    top: 50%;
    transform: translateY(-50%);
}

/*#slider .slides .center-slide{*/
    /*z-index: 5;*/
/*}*/

/*#slider .slides .right-slide,*/
/*#slider .slides .left-slide*/
/*{*/
    /*z-index: 4;*/
    /*opacity: 0.5;*/
/*}*/

/*#slider .slides .left-slide{*/
    /*background-position: left;*/
/*}*/

/*#slider .slides .right-slide{*/
    /*background-position: right;*/
/*}*/

#slider .slider-helper{
    position: absolute;
    left: -800%;
}